@import '../_variables.scss';
@import '../_mixins.scss';

.pricing {
  display: grid;
  gap: 2rem;

  .package {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid $blue-color;
    border-collapse: collapse;

    & > div {
      border: 1px solid $blue-color;
      padding: 1rem;
    }

    .package-title {
      font-weight: bold;
    }

    .package-price {
      font-weight: bold;
      color: $orange-color;
      text-align: right;
    }

    .package-description {
    }

    .package-includes {
      grid-column: 2 / 3;

      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
        }
      }
    }
  }
}
