@import '../_variables.scss';
@import '../_mixins.scss';

#about {
  position: relative;
  padding: 10rem 2rem;
  overflow: hidden;
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: $white-color;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .about-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-height: 60vh;
    min-width: 90vw;
  }
}
