@import '../_variables.scss';
@import '../_mixins.scss';

.animated-paragraph {
  padding: 2rem;
  // border: 1px solid #000;
  grid-column: span 8 / span 8;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 7;
  color: $blue-color;
  font-weight: 700;

  .image-wrapper {
    position: relative;
    width: 300px;

    img {
      position: absolute;
      // width: 100%;
      transform-origin: center;
    }
  }

  .about-fade-text {
    opacity: 0;
    transform: translateY(30px);
    will-change: opacity, transform;
  }
}
