@import "../_variables.scss";
@import "../_mixins.scss";

.content {
  padding: 5rem 0 0.75rem 0;

  .about-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: $font-special;
      font-size: 5rem;
      line-height: 0.8;
      font-weight: 900;
      color: $orange-color !important;
      opacity: 0;
      transform: translateY(30px);
      will-change: opacity, transform;
    }
  }
}
