@import '../_variables.scss';
@import '../_mixins.scss';

.composition {
  background-color: #111;
  width: 100vw;
  height: 50vh;
  position: relative;
  border: 1px red solid;

  $unit: 15px;

  // Optional debug grid
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: $unit $unit;
    pointer-events: none;
    z-index: 1;
  }

  .block {
    position: absolute;
    background-color: white;
    z-index: 2;

    &.red {
      top: $unit * 13;
      right: $unit * 10;
      width: $unit * 4;
      height: $unit * 4;

      .orange {
        position: absolute;
        background-color: white;
        left: -$unit * 2;
        width: $unit * 2;
        height: $unit / 3;
      }

      .aqua {
        position: absolute;
        background-color: white;
        right: 0;
        bottom: -$unit * 2;
        width: $unit / 3;
        height: $unit * 2;
      }
    }

    &.blue {
      top: $unit * 10;
      right: $unit * 6.87;
      width: $unit / 2;
      height: $unit * 14;
    }

    &.green {
      top: $unit * 24;
      right: $unit * 6.87;
      width: $unit * 2.5;
      height: $unit / 3;

      .chartreuse {
        position: absolute;
        background-color: white;
        top: $unit * 2;
        right: $unit * 0.66;
        width: $unit * 2;
        height: $unit / 2;
      }

      .darkgreen {
        position: absolute;
        background-color: white;
        top: $unit * 4.5;
        right: $unit * 0.66;
        width: $unit * 6;
        height: $unit / 4;
      }
    }

    &.yellow {
      top: $unit * 24;
      right: $unit * 7.53;
      width: $unit;
      height: $unit * 4.66;
    }

    &.pink {
      top: $unit * 28.66;
      right: $unit * 8.33;
      width: $unit * 3.33;
      height: $unit * 3.33;
      // border-radius: 0 0 $unit $unit;
    }
  }
}
