@import '../_variables.scss';
@import '../_mixins.scss';

.circle-logo-wrapper {
  padding: 2rem;
  position: relative;
  bottom: 15rem;
  left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle-svg {
    position: absolute;
    z-index: 100;
    width: 20rem;
  }
}
