@import '../_variables.scss';
@import '../_mixins.scss';

#contact {
  max-width: 1200px;
  margin: 5rem auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .contact-wrapper {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.6fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'circle-logo-wrapper form floating-container'
      '. form floating-container';

    .floating-container {
      grid-area: floating-container;
    }

    .form {
      grid-area: form;
    }

    .circle-logo-wrapper {
      grid-area: circle-logo-wrapper;
    }

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-weight: 400;

          span {
            font-size: 0.8rem;
            color: #888;
          }
        }

        input,
        textarea {
          padding: 1rem;
          font-size: 1rem;
          border: 3px solid #ccc;

          &::placeholder {
            color: #ccc;
          }

          &:focus {
            outline: none;
            border-color: #333;
          }
        }

        textarea {
          resize: vertical;
          height: 10rem;
        }

        .name-fields {
          display: flex;
          flex-direction: row;
          gap: 1rem;

          input {
            flex: 1;
          }
        }
      }

      button {
        width: 100%;
        padding: 1.5rem;
        font-size: 1rem;
        color: #fff;
        background-color: #000;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
