@import "../_variables.scss";
@import "../_mixins.scss";

#contact {
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  color: #000;

  .contact-wrapper {
    margin: 0 auto;

    .form {
      form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        opacity: 1;
        transform: scale(1);
        transition: all 0.3s ease;

        .form-group {
          display: flex;
          flex-direction: column;

          label {
            display: none;
          }

          input,
          textarea {
            padding: 0.5rem;
            font-size: 0.75rem;
            border: 1px solid #7a7a7a;
            border-radius: 0.25rem;
            background: none;
            font-family: $font-text;

            &::placeholder {
              color: #000;
              font-weight: 100;
            }

            &:focus {
              outline: none;
              border-color: $orange-color;
            }
          }

          textarea {
            resize: vertical;
            height: 5rem;
          }

          .name-fields {
            display: flex;
            flex-direction: row;
            gap: 0.75rem;

            input {
              flex: 1;
            }
          }
        }

        button {
          border-radius: 0.25rem;
          width: 100%;
          padding: 0.75rem;
          color: #fff;
          background-color: #000;
          border: none;

          &:hover {
            background-color: $orange-color;
          }
        }
      }
    }
  }
}
