@import '../_variables.scss';
@import '../_mixins.scss';

body {
  cursor: none;
}

#cursor-dot {
  width: 25px;
  height: 25px;
  background-color: #fff;
  // border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

#cursor-dot.invert {
  mix-blend-mode: difference;
  background-color: #ffffff;
}
