@import '../_variables.scss';
@import '../_mixins.scss';

header {
  position: sticky;
  z-index: 999;
  top: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  background: #ebebeb;
  
  &.header-home {
    background-color: #000;
    backdrop-filter: blur(4px);
  }

  .header {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #000;
    align-items: center;
    word-break: keep-all;

    .brand {
      display: flex;
      justify-content: flex-start;
      a {
        padding: 0 0.5rem;
        text-align: center;
        color: #fff;
      }
    }

    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: #fff;

      a {
        font-size: 1rem;
        margin-right: 1.5rem;
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $orange-color;
        }
      }
    }

    .navbar-hamburger {
      display: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  /* Hamburger menu shows for small screens */
  @media (max-width: 660px) {
    .header {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      .navbar {
        display: none;
      }

      .navbar-hamburger {
        display: block;
        font-size: 1.2rem;
        cursor: pointer;
        position: absolute;
        right: 10px;
      }
    }
  }
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: $orange-color;
  }

  .modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: #fff;
    text-align: center;

    .modal-brand {
      font-size: 1.5rem;
    }

    .modal-links {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        margin: 1rem 0;
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;

        &:hover {
          color: $orange-color;
        }
      }
    }
  }
}
