@import '../_variables.scss';
@import '../_mixins.scss';

#home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: calc(100vh - 4rem);
  // gap: 10px;
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0;

  .hero {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    grid-column: 3 / 4;

    h1 {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1;

      strong {
        font-size: 6rem;
        font-family: $font-special;
      }
    }

    p {
      margin: 2rem 0;
      color: #000;
      font-size: 1.2rem;

      &:hover {
        color: $orange-color;
      }
    }

    a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
      margin-right: 1rem;
      @include color-hover;
    }
  }

  .img {
    grid-column: 2 / 5;
    background-position: top top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
