@import '../_variables.scss';
@import '../_mixins.scss';

#intro {
  overflow: visible;
  background: $grey-color;
  min-height: 100vh;
  color: $black-color;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: $font-special;
  margin: 5rem auto;

  .holographic-bg {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    will-change: transform;
    transition: transform 0.3s ease-out;
    height: 100%;
    width: 100%;
    top: 10%;
    left: 40%;
  }

  .intro-wrapper {
    max-width: 1000px;
    min-height: 70%;
    margin: 5rem auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .why-us {
    h1 {
      font-size: 8rem;
      line-height: 6.5rem;
      color: $black-color;
      mix-blend-mode: multiply;
      z-index: 20;
      position: relative;
      -webkit-text-stroke: 3px $black-color;

      .outlined {
        color: transparent;
        mix-blend-mode: multiply;
        -webkit-text-stroke: none;
      }
    }
  }

  .intro-content {
    color: $black-color;
    position: relative;
    max-width: 1200px;
    opacity: 0;

    .char {
      display: inline-block;
      will-change: transform, font-weight, font-stretch;
    }

    h2 {
      max-width: 80%;
      margin: 3rem auto;
      font-size: 1.75rem;
      mix-blend-mode: multiply;
    }

    .highlight {
      padding: 0.25rem 1rem;
      background: $black-color;
      color: #fff;
      white-space: nowrap;
      mix-blend-mode: multiply;
    }
  }

  .why-switch-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(4rem, auto);
    font-size: 1.2rem;
    gap: 1rem;
    width: 80%;
    margin: 2rem auto;

    div {
      border: 0.25rem solid $black-color;
      border-radius: 2rem;
      padding: 1rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: #303334;
      mix-blend-mode: multiply;
      color: $white-color;
      transition: transform 0.5s ease-out;
      will-change: transform;
    }

    .item1 {
      grid-column: span 3;
    }

    .item2 {
      grid-column: span 3;
    }

    .item3 {
      grid-column: span 2;
    }

    .item4 {
      grid-column: span 2;
    }

    .item5 {
      grid-column: span 2;
    }

    .item6 {
      grid-column: span 6;
      grid-row: span 2;
      font-size: 2rem;
    }
  }
}
