@import '../_variables.scss';
@import '../_mixins.scss';

#pricing {
  padding: 5rem 0 10rem 0;
  min-height: calc(100vh - 5rem);
  position: relative;

  .star {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-family: $font-special;
      text-align: center;
      font-size: 5rem;
      margin-bottom: 5rem;
      color: $orange-color;
    }
  }

  .blue-square {
    position: absolute;
    width: 20rem;
    height: 7rem;
    background-color: #000;
    top: -2rem;
    right: -4rem;
    z-index: 1;
  }

  .package {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 200px 1fr 2fr;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;

    & > div {
      padding: 1rem;
    }

    .package-image {
      img {
        width: 100%;
      }
    }

    .package-title-price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .package-title {
        font-weight: 600;
        font-size: 2rem;
        font-family: $font-special;
      }

      .package-price {
        color: $orange-color;
        font-weight: 300;
        // font-size: 1.5rem;
        font-family: $font-special;
      }
    }

    .package-main {
      p {
        font-weight: 600;
        // color: #000;
      }
    }

    .package-includes {
      margin-top: 1rem;

      ul {
        padding-left: 15px;

        li {
          // color: #333;
          list-style-type: disc;
        }
      }
    }
  }
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg); /* Rotate 90 degrees clockwise */
  }
  100% {
    transform: rotate(-270deg); /* Rotate 2 times counterclockwise */
  }
}
