@import '../_variables.scss';
@import '../_mixins.scss';

.pricing {
  display: grid;
  font-weight: 300;
  margin-bottom: 1rem;

  .package {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-collapse: collapse;
    border: 1px solid $blue-color;

    &:hover {
      background: $orange-color;
      color: $black-color;
    }

    &:last-child {
      border-bottom: 2px solid $blue-color;
    }

    & > div {
      padding: 1rem;
    }

    .package-title {
      font-weight: bold;
      text-transform: uppercase;
    }

    .package-price {
      text-align: center;
    }

    .package-includes {
      margin-top: 1rem;

      ul {
        padding-left: 15px;
        li {
          list-style-type: disc;
        }
      }
    }
  }
}
