@import '../_variables.scss';
@import '../_mixins.scss';

#services {
  // min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 3rem 0 0 0;
  // position: relative;

  .services-hero {
    display: flex;
  }

  .title {
    width: 50%;
    padding: 5rem;
    padding-left: 20%;

    h1 {
      font-family: $font-special;
      font-size: 8rem;
      margin-bottom: 0.5rem;
      padding-bottom: 1rem;

      &:hover {
        color: $orange-color;
      }
    }

    p {
      font-size: 2rem;
    }
  }

  .black-square {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: #000;
    border-radius: 50%;
    top: -10rem;
    left: -4rem;
    z-index: 1;
  }
  .services-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    h3 {
      text-transform: uppercase;
    }

    > * {
      padding: 2rem;

      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background: #fff;
        color: $orange-color;
      }
    }
  }
}
