@import '../_variables.scss';
@import '../_mixins.scss';

#services {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding: 7rem 0;

  .reveal {
    opacity: 0;
    transform: translateY(50px);
  }

  .services-hero {
    display: flex;
    flex-direction: row-reverse;
    margin: 3rem auto;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 50%;
      padding: 3rem;

      h1 {
        font-family: $font-special;
        font-size: 5rem;
        padding: 0.5rem;
        color: transparent;
        -webkit-text-stroke: 1px #fff;

        &:hover {
          color: transparent;
          text-shadow: 0 0 2px $orange-color, 0 0 2px $orange-color,
            0 0 40px $orange-color, 0 0 60px $orange-color;
        }
      }

      h2 {
        &:hover {
          color: $orange-color;
        }
      }

      p {
        font-size: 1.1rem;

        &:hover {
          color: $orange-color;
        }
      }
    }
  }

  .services-content {
    max-width: 1200px;
    margin: 0 auto 7rem auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 2;

    a.services-card {
      position: relative;
      overflow: hidden;
      z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #0000009e;
      border: 1px solid #fff;
      aspect-ratio: 1;
      padding: 2rem;
      color: white;
      text-decoration: none;
      transition: color 0.2s ease;

      h3 {
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: white;
        transform: translate(-50%, -50%) scale(0) rotate(45deg);
        transition: transform 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        transform: translate(-50%, -50%) scale(2.2) rotate(45deg);
      }

      &:hover {
        color: $orange-color;
      }

      &:hover ~ #cursor-dot {
        border-color: black !important;
      }
    }
  }

  .gradient-mask {
    position: absolute;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 10;
    pointer-events: none;
  }

  @media (max-width: 1024px) {
    .services-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .services-content {
      grid-template-columns: 1fr;
    }

    .title {
      width: 100%;
      padding: 2rem;
      padding-left: 1.5rem;
    }
  }
}
