.statue {
  display: flex;
  justify-content: center;

  .statue-svg {
    position: absolute;
    width: 100%;
    opacity: 1 !important;
    visibility: visible !important;
    will-change: transform, filter;
    z-index: 1;
  }
}
