@import '../_variables.scss';
@import '../_mixins.scss';

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.animation-container {
  position: absolute;
  top: 10rem;
  left: -20rem;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateAnimation 2.5s infinite;

  .shape {
    width: 100%;
    height: 100%;
    background-color: $orange-color;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); // Initial shape

    &.step-1 {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); // Step 1 shape
    }

    &.step-2 {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); // Step 2 shape
      transform: rotate(90deg); // Rotate 90 degrees for step 2
    }
  }
}
