@import "../_variables.scss";
@import "../_mixins.scss";

.typed-cursor {
  font-size: 10rem;

  @media (max-width: 768px) {
    font-size: 4.5rem !important;
    grid-column: 1 / -1;
    writing-mode: horizontal-tb;
    text-orientation: initial;
    line-height: normal;
    font-size: 7rem;
    align-items: center;
    justify-content: center;
  }
}
