@import '../_variables.scss';
@import '../_mixins.scss';

.work {
  a,
  p {
    font-size: 0.9rem;
  }

  margin-bottom: 1rem;

  .work-item {
    .work-content {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;

      .details {
        @include color-hover;
        border: 1px solid $blue-color;
        padding: 2rem;
      }

      .image-wrapper {
        border: 1px solid $blue-color;

        img {
          @include fit-image-with-adjustment;
        }
      }

      .link {
        @include color-hover;
        padding: 2rem;
        border: 1px solid $blue-color;
        display: flex;
        justify-content: center;
        text-align: center;

        a {
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
