// Color variables
$black-color: #303334;
$white-color: #fbf9f6;
$grey-light-color: #f5f6fa;
$grey-color: #e7eced;
$blue-color: #1748ef;
$light-blue-color: #e4f0fe;
$orange-color: #fe5721;

/* Stripe gradient stops (adjust to taste) */
$g1: #ff834a;
$g2: #ff8f63;
$g3: #f39ba0;
$g4: #eaa8c6;
$g5: #dab8ff;
$g6: #d99cff;
$g7: #f0d7ff;

$g-top: #dbe3e6;  // light
$g-mid: #c3cdd3;  // medium
$g-bot: #a5b2ba;  // darker

// Size variables
$max-width: 1200px;

// Font-face definitions
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'NeueMachina';
  src: url('../assets/fonts/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

// Font variables
$font-text: 'Roboto Mono', monospace;
$font-special: 'NeueMachina', sans-serif;
