@import './_variables.scss';
@import './_mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $grey-color;
  margin: 2rem 4rem;
  font-family: $font-text;
  color: $blue-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1200px;
  margin: 0 auto;

  .page {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: space-between;
    flex-direction: column;

    .main {
      p {
        font-weight: 200;
      }

      a {
        font-weight: 400;
        margin: 0 !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 500;
      }
    }
  }
}
